*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.Container {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.Container:hover {
    transform: translateY(-10%);
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.link {
    text-decoration: none;
}
.imgitem {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
h2 {
    font-size: 25px;
    color: #5d69d2;
}
p {
    font-size: 15px;
    font-weight: bold;
}
.preco {
    font-size:30px;
    color:#a7d769;
}