
h2 {
    color: #4f46e5;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.content {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
}
.btnreturn {
    padding: 10px 20px;
    background-color: #4f46e5;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.btnreturn:hover{
    background-color: #2e2989;
    transition:0.2s;
}