
h2 {
    color: #4f46e5;
}
.maindash{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
}
.content {
    padding: 40px;
}
.container h2 {
    text-align: center;
}
.btnreturn {
    padding: 10px 20px;
    background-color: #4f46e5;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.btnreturn:hover{
    background-color: #2e2989;
    transition:0.2s;
}