* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    display: flex;
    gap:10px;
}
.btn_set {
    padding: 10px 15px;
    border-radius: 20px;
    border:1px solid #000;
    cursor: pointer;
}
.content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.imgproduto {
    object-fit: cover;
}
.foto {
    width: 100px;
    height:100px;
    object-fit: cover;
    border-radius: 100%;
}
.card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    position:relative
}
.card h2 {
    text-align: center;
    margin-top: 10px;
}
.btn_send{
    padding: 10px 40px;
    position: absolute;
    background-color: rgb(42, 83, 160);;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    left: 35%;
    top: 80%;
    cursor: pointer;
}
.btn_send:hover {
    background-color: #667ba9;
}
.cardinfor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}