* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.usuariomain {
    width: 100%;
    height: 100vh;
}
.usuariomain h2 {
    text-align: center;
}
.container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn_set {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
}

.imgproduto {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.foto {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.card {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    position: relative
}

.card h2 {
    text-align: center;
    margin-top: 20px;
}

.btn_send {
    width: 100%;
    height: 10%;
    background-color: rgb(42, 83, 160);
    border: none;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn_send:hover {
    background-color: #667ba9;
}

.cardinfor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 232, 230);
    gap: 10px;
    
}