
h2 {
    text-align: center;
    margin-top: 10px;
}
.formcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: centers;
    padding: 30px;
    gap: 10px;
}
.input {
    width: 100%;
    height: 100%;
}
.btncadastro {
    position: relative;
    left: 35%;
    padding: 10px 40px;
    background-color: #4f46e5;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.btncadastro:hover {
    background-color: #3e39a5;
}
