
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: borderbox;
    font-family: 'Inter',sans-serif;
}
.mainpripacl{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toastbox {
    position:absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    gap: 10px;
}
.toast {
    width: 400px;
    height: 80px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.toast i {
    color: #80be35;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;  
    box-shadow: 5px 5px 10px rgba(0,0,0,0.212);
}
.itemimagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #318edad7;
    padding: 1rem;
}
.itemimagem img {
    width: 11rem;
}
.forms {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    padding: 1rem;
}
.formheader {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.formheader h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 20px;
}
.inputgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 1;
}
.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.inputbox input {
    margin: 0.1rem 4;
    /* padding: 0.8rem 1.2rem; */
    padding: 1rem 0.9rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.inputbox input:hover {
    background-color: #eeeeee75;
}
.inputbox input:focus-visible {
    outline: 1px solid #6c63ff;
}
.inputbox label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}
.inputbox input::placeholder{
    color: #000000be;
}
.gendergroup{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.8rem;
}
.genderinput {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.genderinput input {
    margin-right: 0.35rem;
}
.genderinput label {
    font-size: 0.81rem; 
    font-weight: 600;
    color:#000000c0;
}

.continuebutton button {
    width: 100%;
    margin-top:2.5rem;
    border:none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius:5px;
    cursor:pointer;
}
.continuebutton button:disabled {
    background-color: #e3e3e3;
}
.continuebutton button:not(:disabled):hover {
    background-color: #3935acf1;
}
.continuebutton button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color:#fff;
}

/* @media screen and (max-width:1330px){
    .formimage {
        display: none;
    }
    .container {
        width: 50%;
        display: flex;
    }
} */
/* @media screen and (max-width:1064px){
    .container {
        width: 90%;
        height: auto;

    }
    .inputgroup {
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .genderinputs {
        margin-top: 2rem;
        
    }
    .gendergroup{
        flex-direction: column;
    }
    .genderinput {
        margin-top: 0.5rem;
    }
} */