/* input {
  width: 900px;
  height: 50px;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.3)
}

button {
  width: 120px;
  height: 50px;
  background-color: rgb(100, 128, 179);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  background-color: #3159ad;
  transition: 0.3s;
}

.loader-container {
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: center;
  padding: 16px;
}

.loader {
  width: 24px;
  height:24px;
  border:3px solid #e3e3e3;
  border-top-color: #3b83f6;
  border-radius: 50%;
  animation: spin  0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.loade-text{
  font-size: 0.95rem;
  color:#555;
} */