body {
  background-color: #3159ad;
  min-height: 100vh;
  display: flex;
}
main {
  width: 600px;
  background-color: #e3e3e3;
  border-radius: 0px 0px 20px 20px;

}
.Navmenu {
  background-color: #e3e3e3;
}
.App {
  display: flex;
  border-radius: 20px;
  gap: 20px ;
}