* {
    padding: 0;
}

main {
  min-width: 900px;
  background-color: aqua;
  padding: 20px;
  border-radius: 20px;
}
h1 {
  font-size: 3em;
  color: #3159ad;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

input {
  width: 600px;
  height: 50px;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 20px;
  border: 2px solid rgb(100, 128, 179);
  outline: none;
}

input:focus {
  box-shadow: 0 0 5px rgb(83, 21, 128);
}
.btn_search { 
  padding: 15px 20px;
  background-color: rgb(100, 128, 179);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn_search:hover {
  background-color: #3159ad;
  transition: 0.3s;
}

.loader_container {
  display: flex;
  align-items: center;
  gap:10px;
  justify-content: center;
  
}

.loader {
  width: 24px;
  height:24px;
  border:3px solid #e3e3e3;
  border-top-color: #3b83f6;
  border-radius: 50%;
  animation: spin  0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.loade_text{
  font-size: 0.95rem;
  color:#555;
}

.Product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 40px ;
  margin-top: 10px;
  gap: 20px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}